<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <body style="background-image: url('leaf.jpg');background-size:cover">
    <div class="container-fluid text-center">
      <!-- <div class="row">
        <div style="background-color:aliceblue;"
        class="mb-3 col-md-5 col-sm-5 col-lg-5 mx-auto">
          Keystrokes
          <p style="background-color:aliceblue;font-size:5vw;"
          id="keystrokes" value="0">0</p>
        </div>
      </div> -->
      <div class="row" style="margin-top: 50px;">
        <h3 class="rounded col-md-8 col-sm-8 col-lg-8 mx-auto"
        style="font-size: 14vw;color:white" id="Korean_word">{{word.Korean}}</h3>
        <h3 class=" col-md-8 col-sm-8 col-lg-8 mx-auto"
        style="font-size: 7vw;color:white">{{word.English}}</h3>
      </div>
      <div style="margin:50px;" class="form-group mt-0" id="ans-form">
        <div class="row">
          <div class="rounded col-md-8 col-sm-8 col-lg-8 mx-auto">
            <input onkeydown="typingCounter()" autofocus
            class="rounded col-md-8 col-sm-8 col-lg-8 mx-auto form-control
            form-control-large" type="text" id="answer" name="ans" value=""
            placeholder="Type the Korean word(s)">
            <button class="btn btn-primary col-md-8 col-sm-8 col-lg-8 mx-auto"
            onclick="passbackword()">OK</button>
          </div>
        </div>
      </div>
    </div>


    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script>
    let keystrokes = 0;

      function typingCounter()
      {
        let charCode = event.keyCode
        console.log(charCode)
        if(charCode == 13){ passbackword() }
        else if((charCode > 64 && charCode < 91) ||
        (charCode > 96 && charCode < 123) || charCode == 8 || charCode == 229){
          console.log(event.keyCode);
          keystrokes++;
        }
        document.getElementById('keystrokes').innerHTML = keystrokes;
      }
      //I know this doens't sound secure, but it's just passing the word back to the server
      function passbackword()
      {
        let Korean_word = $("#Korean_word").text()
        let data = []
        let reply = $("#answer").val()
        let keycount = $("#keystrokes").text()
        data.push(reply)
        data.push(keycount)
        data.push(Korean_word)
        console.log(data);
        $.ajax({
          method: 'POST',
          url: "/",
          data: {message : data},
          success: function(){
            console.log("success verbose ajax POST");
            location = "anscheck"
          }
        })
      }
    </script>
  </body>
</html>
